<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="botao-menu" >
      <mat-icon class="sid-toggle" (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <img class="logo" src="./../assets/logo1.png" />
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']"><mat-icon class="sid-icon">home</mat-icon>Home</a>
      <a mat-list-item [routerLink]="['contabilidade']"><mat-icon class="sid-icon">work</mat-icon>Contabilidade</a>
      <a mat-list-item [routerLink]="['financeiro']"><mat-icon class="sid-icon">money</mat-icon>Financeiro</a>
      <a mat-list-item [routerLink]="['cobranca']"><mat-icon class="sid-icon">fact_check</mat-icon>Cobrança</a>
      <a mat-list-item [routerLink]="['rh']"><mat-icon class="sid-icon">manage_accounts</mat-icon>Recursos Humanos</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


